{% block body %}
	<div class="DivCard">
	{% for product in pagination %}
		<a href="{{ path('app_product_details', { id: product.id }) }}" style="text-decoration: none; color: inherit;">
			<div class="productCard" style="background-color: {{ product.Category.Color }}">
				<img src="{{ asset('uploads/products/' ~ product.brochureFilename) }}" alt="Image" style="max-width:190px">
				<h4>{{ product.name }}</h4>
				{% if product.promotion == 1 %}
					<p>
						<span style="text-decoration: line-through;">{{ product.price }}€</span>
						{{ (product.price * (1 - product.discount/100))|round(2, 'floor') }}€
					</p>
				{% else %}
					<p>{{ product.price }}€</p>
				{% endif %}
				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.getRoles() %}
						<p>
							<a href="{{ path('app_edit_product', {id: product.id}) }}">Modifier</a>/<a href="{{ path('app_delete_product', {id: product.id}) }}">Supprimer</a>
						</p>
					{% endif %}
				{% endif %}
				<a href="{{ path('app_cart_add', {id : product.id}) }}" class="btn btn-success">
					<i class="fas fa-shopping-cart mr-1"></i>
					Ajouter
				</a>
			</div>
		</a>
	{% endfor %}
	</div>
		{{ knp_pagination_render(pagination) }}

{% endblock body %}
