{% extends 'base.html.twig' %}

{% block body %}
	<main id="mainUser">
		<h1>Mes informations</h1>
			<div>
				<p>
					<b>Identité :</b>
					{{app.user.firstName}}
					{{app.user.lastName}}
				</p>
				</br>
				<p>
					<b>Date de Naissance :</b>
					{{app.user.birthdate|date('d-m-Y')}}
				</p>
				</br>
				<p>
					<b>Email :</b>
					{{app.user.email}}
				</p>
				</br>
				{% if app.user.getAdresses()|length > 0 %}
				{% set firstAddress = app.user.getAdresses()|first %}
					<p>
						<b>Adresse :</b>
						{{ firstAddress.street }}
						{{ firstAddress.CP }}
						{{ firstAddress.City }}
					</p>
					</br>
					<a href="{{ path('app_adress_edit') }}">Modifier mon adresse</a></br>
				{% else %}
					<p><b>Vous n'avez pas encore d'adresse </b><a href="{{ path('app_adress') }}">Ajouter une adresse</a></p></br>
				{% endif %}
				<a href="{{ path('app_edit_user', {id: app.user.id}) }}" id="editUser">Modifier mes informations</a>
			</div>
			<a href="{{ path ('app_home') }}">Retour à l'Accueil</a>
	</main>
{% endblock %}
