{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Tasks'|trans }}
{% endblock %}

{% block body %}
	<nav>
		<a href="{{ path('app_add_task') }}">{{ 'NewTask'|trans }}</a>
		<a href="{{ path('app_category') }}">{{ 'Categories'|trans }}</a>
	</nav>

	<div class="example-wrapper">
    {% for task in tasks %}
        <div class="card" style="border: 10px solid {{ task.category.categoryColor }}">
            <div class="container">
                {# Ajoutez l'icône basée sur la priorité ici #}
                {% set priorityColor = 
                    task.Priority == 'Haute' ? '#E58247' :
                    task.Priority == 'Normale' ? '#47E5CF' :
                    task.Priority == 'Basse' ? '#AAE547' :
                    '#000000' %}
                <i class="fa-solid fa-circle" style="color: {{ priorityColor }}"></i>

                <h1>{{ task.name }}</h1>
                <p><b>Description :</b> {{ task.Description }}</p>
                <p><b>{{ 'DueDate'|trans }} :</b> {{ task.DueDate|date("d/m/Y") }}</p>
                <p><b>{{ 'Priority'|trans }} :</b> {{ task.Priority }}</p>
                <p><b>{{ 'Category'|trans }} :</b> {{ task.category.name }}</p>
                <p><a href="{{ path('app_edit_task', {id: task.id}) }}">{{ 'Edit'|trans }}</a> / <a href="{{ path('app_delete_task', {id: task.id}) }}">{{ 'Delete'|trans }}</a></p>
            </div>
        </div>
    {% endfor %}
</div>	
{% endblock %}


