{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	{% if app.request.method == 'POST' %}
		<div>
			{% if product | length == 0 %}
				<h4>Aucun résulat pour votre recherche.</h4>
			{% else %}
				<h3 class="mt-3">Vos résulats de recherche :</h3>
				{% for product in product %}
					<div class="productCard" style="background-color: {{ product.Category.Color }}">
						<img src="https://cdn.pixabay.com/photo/2014/04/05/09/30/tablet-314153_1280.png" alt"photo" style="width:190px">
						<h4>{{ product.name }}</h4>
						<p>{{ product.price }}
							€</p>
						<p>
							{% if product.promotion == 0 %}
								Non
							{% elseif product.promotion == 1 %}
								Oui
							{% endif %}
						</p>
						<p>{{ product.discount }}
							%</p>
						{% if app.user %}
							{% if 'ROLE_ADMIN' in app.user.getRoles() %}
								<p>
									<a href="{{ path('app_edit_product', {id: product.id}) }}">Modifier</a>/<a href="{{ path('app_delete_product', {id: product.id}) }}">Supprimer</a>
								</p>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
