{% extends 'base.html.twig' %}

{% block title %}Adress{% endblock %}

{% block body %}
<main id="mainAddress">
    <h1>Adresse</h1>

    {{ form_start(form) }}
    {{ form_row(form.street) }}
    {{ form_row(form.CP) }}
    {{ form_row(form.City) }}


    <button type="submit" class="btn btn-success">Enregistrer mon Adresse</button>
    {{ form_end(form) }}
</main>
{% endblock %}
