{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
	<nav>
		<a href="{{ path('app_home') }}">{{ 'Back'|trans }}</a>
	</nav>
        <h1>{{ 'Login'|trans }}</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'SignIn'|trans }}</h1>
    <label for="inputUsername">{{ 'Username'|trans }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">{{ 'Password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'SignIn'|trans }}
    </button>
</form>
<br>


{% endblock %}
